<%= render "users/navbar" %>

<hr>
  <h1 style="text-align: center">Add a new tool to your toolbox</h1>
  <hr>
<div class="col-md-3"></div>
  <div class="col-md-5">

  <%= simple_form_for ([current_user, Tool.new]) do |f| %>
    <%= f.error_notification %>

          <%= f.input :kind, required: true, placeholder: "eg. Circular Saw" %>
          <%= f.input :name, required: true, placeholder: "eg. Bosch 42FH6" %>
          <%= f.input :description, required: true, placeholder: "eg. Great saw, lots of power, new blade" %>
          <%= f.label "Condition" %>
          <%= f.select :condition, ["new", "great", "good", "fair", "poor"], required: true %>
          <%= f.file_field :image, label:"Add image " %>

      <div class="form-actions">
        <%= f.button :submit, "Add tool"%>
      </div>
  </div>
</div>
    <% end %>

