
<nav class="navbar transparent navbar">
<hr>
  <div class="container-fluid">
      <ul class="nav navbar-nav space">
          <li><%= link_to "Dashboard", user_path(current_user.id) %></li>
          <li><%= link_to "Inbox", user_messages_path(current_user.id) %></li>
          <li><%= link_to "Toolbox", user_tools_path(current_user.id) %></li>
          <li><%= link_to "Reservations" %></li>
          <li><%= link_to "Add tools", new_user_tool_path(current_user.id)  %></li>
          <li><%= link_to "Profile" %></li>
          <li><%= link_to "Account" %></li>
      </ul>
    </div>
  </div>
  <hr>
</nav>


<h1>Messages</h1>
