<%= render "users/navbar" %>
<hr>
<h1 style="text-align: center"><%= @user.first_name.capitalize %>'s Profile</h1>
<hr>


<div class="row">
  <div class="col-sm-6 col-md-4 profile" >
    <div class="thumbnail">
      <%= image_tag @user.avatar.url %>
      <div class="text-center">Average user rating | <% @user.first_name %></div>

      <div class="caption">
        <h2 class="text-center"><%= @user.first_name %>  <%= @user.last_name %></h2>
        <h4 class="text-center"><%= @user.state %></h4>
        <h4 class="text-center"><%= @user.address %></h4>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn">
              <%= link_to "View user's tools", profile_tools_path(@user.id) %></button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn">
              <%= link_to "Review user", new_user_review_path(@user.id) %></button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn">
              <%= link_to "Message user", new_user_message_path(@user.id) %></button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md"></div>
  <div class="col-md-6">
    <div class="thumbnail">
          <h1 class="pad text-center"><%= @user.first_name.capitalize %>'s Reviews</h1>
            <% if @review.count > 0 %>
              <% @review.each do |t| %>
                <div class="thumbnail text-center tall">
                    <tr>
                      <td><i class="col-md-2"><%= link_to t.reviewer.first_name %> says...</i></td>
                      <td><%= t.review %></td>
                    </tr>
                </div>
              <% end %>
            <% else %>
              <div class="thumbnail text-center"><i><%= @user.first_name.capitalize %> has no reviews at this time</i></div>
            <% end %>


