<%= render "users/navbar" %>
<div class="background-image">
  <div class="row bg-pixel">
    <div class="col-sm-6 col-md-4 profile" >
      <div class="thumbnail">
        <%= image_tag current_user.avatar.url %>
        <div class="caption">
          <h2 class="text-center"><%= current_user.first_name %>  <%= current_user.last_name %></h2>
          <h4 class="text-center"><%= current_user.state %></h4>
          <h4 class="text-center"><%= current_user.address %></h4>
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn  "><%= link_to "View tools", toolbox_path(current_user.id)%></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn"><%=link_to "Add tools", new_user_tool_path(current_user.id)%></button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn"><%= link_to "Edit profile", edit_user_path(current_user) %></button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md"></div>
    <div class="col-md-6">
      <div class="thumbnail">
        <h1 class="pad text-center">Upcoming Reservations</h1>
          <% @borrower_res.each do |t| %>
            <div class="thumbnail text-center">
              <tr>
                <td><i>  Borrowing</i>  <%= link_to t.tool.name, tool_path(t.tool.id) %></td>
                <td><i> from </i> <%= link_to t.lender.first_name, profile_view_path(t.lender_id) %></td>
                <br>
                <td><i> Starting on </i> <%= t.start_day.to_date.to_formatted_s(:long_ordinal) %></td>
                <td><i> and ending on </i> <%= t.end_day.to_date.to_formatted_s(:long_ordinal) %></td>
              </tr>
            </div>
          <% end %>
        <h1 class="pad text-center">New Messages</h1>
          <% @messages.each do |t| %>
            <div class="thumbnail text-center">
              <tr>
                <td><i> Message from </i> <%= link_to t.receiver.first_name, profile_view_path(t.sender.id) %></td>
                <br>
                <td><%= t.body %></td>
              </tr>
            </div>
          <% end %>

        <h1 class="pad text-center">New Reservation Requests</h1>
          <% @reservation_messages.each do |t| %>
            <div class="thumbnail text-center">
              <p><%= t.body %></p>
              <%= link_to "Accept request", new_user_message_path(t.sender.id) %>  |
              <%= link_to "View #{t.sender.first_name}'s profile", profile_view_path(t.sender.id) %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

