<%= render "users/navbar" %>


<h2>Make a tool reservation</h2>

<%= simple_form_for([@tool, @reservation]) do |f| %>
  <%= f.error_notification %>
    <div class="input-group">
        <%= f.date_select :start_day, required: true %>
        <%= f.date_select :end_day, required: true %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Reserve this tool" %>

    </div>
  <% end %>

