<%= render "users/navbar" %>
<hr>
<h1 style="text-align: center">My Reservations</h1>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="well well-lg">
        <h2 style="text-align: center">I'm borrowing...</h2>
      </div>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Tool Name</th>
            <th>Lender</th>
            <th>Start date</th>
            <th>End date</th>
          </tr>
        </thead>
        <tbody>
        <% @borrower.each do |t| %>
          <tr>
            <td><%= link_to t.tool.name, tool_path(t.tool.id) %></td>
            <td><%= link_to t.lender.first_name, profile_view_path(t.lender_id) %></td>
            <td><%= t.start_day.to_date.to_formatted_s(:long_ordinal) %></td>
            <td><%= t.end_day.to_date.to_formatted_s(:long_ordinal) %></td>

            <% end %>

        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="well well-lg">
        <h2 style="text-align: center">I'm lending...</h2>
      </div>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Tool Name</th>
            <th>Borrower</th>
            <th>Start date</th>
            <th>End date</th>
          </tr>
        </thead>
        <tbody>
        <% @lender.each do |t| %>
          <tr>
            <td><%= link_to t.tool.name, tool_path(t.tool.id) %></td>
            <td><%= link_to t.borrower.first_name, profile_view_path(t.borrower_id) %></td>
            <td><%= t.start_day.to_date.to_formatted_s(:long_ordinal) %></td>
            <td><%= t.end_day.to_date.to_formatted_s(:long_ordinal) %></td>
          </tr>

            <% end %>

        </tbody>
      </table>
      </div>
    </div>
  </div>
